@import "global";

/* ------- Media ------- */

/* Laptops */
@media (min-width: 1264px) and (max-width: 1400px) {
  .header {
    padding-bottom: 50px;
  }
  .header .wrapper-header .wrapper-menu .wrapper-btn .wrapper-register button {
    padding: 10px 20px;
  }
  .wrapper-background-banner {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .wrapper-banner .wrapper-banner-content h1 {
    padding-bottom: 40px;
  }
  .wrapper-banner .wrapper-banner-content .wrapper-banner-list {
    padding-bottom: 40px;
  }
  .wrapper-global-part {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .wrapper-global-part .wrapper-global-part-content h2 {
    padding-bottom: 30px;
  }
  .wrapper-global-part .wrapper-global-part-content p {
    padding-bottom: 40px;
    line-height: 40px;
  }
  .wrapper-global-part .wrapper-global-part-blocks .wrapper-block p {
    line-height: 24px;
  }
  .wrapper-global-part .wrapper-global-part-blocks .wrapper-block {
    padding: 25px 45px;
  }
  .wrapper-services .wrapper-services-title h2 {
    padding-bottom: 40px;
  }
  .wrapper-services .wrapper-services-blocks .wrapper-block {
    padding: 45px 30px;
  }
  .wrapper-services .wrapper-services-blocks .wrapper-block p {
    line-height: 28px;
  }
  .wrapper-services .wrapper-services-blocks {
    padding-bottom: 50px;
  }
  .wrapper-services .wrapper-services-button button {
    padding: 15px 50px;
  }
}

/* Tablets */
@media (max-width: 1024px) {
  .wrapper-container {
    width: 100%;
    padding: 0 35px;
  }

  .wrapper-header {
    width: 100%;
    padding: 35px;
  }

  .header {
    padding-bottom: 0;

    .wrapper-header {

      .wrapper-logo {
        .logo {
          a {
            font-size: 28px;
          }
        }
      }

      .wrapper-menu {
        display: none;

        .wrapper-nav {
          width: 100%;

          ul {
            display: flex;
            flex-direction: column;

            li {
              padding-left: 35px;
              display: inline;
              padding-bottom: 20px;

              a {
                color: $basic-color;
                font-size: 18px;
              }
            }
          }
        }

        .wrapper-btn {
          width: 100%;
          justify-content: flex-start;
          padding-bottom: 45px;

          .wrapper-login {
            padding-left: 35px;

            button {
              font-size: 18px;
            }
          }

          .wrapper-register {
            button {
              font-size: 18px;
              margin-left: 15px;
            }
          }
        }
      }

      .open {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        background: #EBFDFF;
        width: 100%;
        display: block;
        z-index: 3;
        padding-top: 20px;
        margin-top: 100px;
        box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
      }

      .menu-btn {
        display: block;
      }
    }
  }
  /* navMenu active */
  #navMenu > .line {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: black;
  }
  #navMenu > .line:not(:last-child) {
    margin-bottom: 7px;
  }
  #navMenu, #navMenu > .line {
    transition: all .4s ease-in-out;
  }
  #navMenu.active {
    transition-delay: 0.8s;
    transform: rotate(45deg);
  }
  #navMenu.active > .line:nth-child(2) {
    width: 0;
  }
  #navMenu.active > .line:nth-child(1),
  #navMenu.active > .line:nth-child(3) {
    transition-delay: .4s;
  }
  #navMenu.active > .line:nth-child(1) {
    transform: translateY(9px);
  }
  #navMenu.active > .line:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
  }
  /* End navMenu active */
  .wrapper-banner .wrapper-banner-img {
    width: 45%;
  }
  .wrapper-banner .wrapper-banner-content {
    width: 50%;
  }
  .wrapper-banner .wrapper-banner-content h1 {
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 40px;
  }
  .wrapper-banner .wrapper-banner-content .wrapper-banner-list {
    padding-bottom: 50px;
  }
  .wrapper-banner .wrapper-banner-content .wrapper-banner-list ol li {
    font-size: 18px;
  }
  .wrapper-banner .wrapper-banner-content a {
    font-size: 20px;
  }
  .wrapper-background-banner {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .wrapper-global-part {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .wrapper-global-part .wrapper-global-part-blocks {
    width: 46%;
  }
  .wrapper-global-part .wrapper-global-part-content h2 {
    font-size: 35px;
    padding-bottom: 40px;
  }
  .wrapper-global-part .wrapper-global-part-content p {
    font-size: 18px;
  }
  .wrapper-global-part .wrapper-global-part-content button {
    font-size: 20px;
  }
  .wrapper-global-part .wrapper-global-part-blocks .wrapper-block h4 {
    font-size: 18px;
  }
  .wrapper-global-part .wrapper-global-part-blocks .wrapper-block p {
    font-size: 16px;
  }
  .wrapper-global-part .wrapper-global-part-blocks .wrapper-block {
    padding: 20px 30px;
  }
  h2 {
    font-size: 35px;
    padding-bottom: 40px;
  }
  .wrapper-services .wrapper-services-blocks .wrapper-block {
    width: 49%;
    padding: 40px 20px;
    margin-bottom: 20px;
  }
  .wrapper-services .wrapper-services-blocks {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .wrapper-services .wrapper-services-blocks .wrapper-block .wrapper-services-img {
    width: 24%;
  }
  .wrapper-services .wrapper-services-blocks .wrapper-block h4 {
    font-size: 18px;
  }
  .wrapper-services .wrapper-services-blocks .wrapper-block p {
    font-size: 16px;
  }
  .wrapper-services .wrapper-services-blocks .wrapper-block a {
    font-size: 20px;
  }
  .wrapper-services .wrapper-services-button button {
    font-size: 18px;
  }
  .wrapper-reviews .wrapper-reviews-blocks {
    flex-wrap: wrap;
  }
  .wrapper-reviews .wrapper-reviews-blocks .wrapper-reviews-block {
    width: 48%;
    margin-bottom: 30px;
  }
  .wrapper-reviews .wrapper-reviews-blocks .wrapper-reviews-block .client-info .wrapper-img {
    width: 60px;
  }
  .wrapper-reviews .wrapper-reviews-blocks .wrapper-reviews-block .client-info .wrapper-info h4 {
    font-size: 18px;
  }
  .wrapper-reviews .wrapper-reviews-blocks .wrapper-reviews-block .client-info .wrapper-info p {
    font-size: 14px;
  }
  .wrapper-reviews .wrapper-reviews-blocks .wrapper-reviews-block .review-info h4 {
    font-size: 18px;
  }
  .wrapper-reviews .wrapper-reviews-blocks .wrapper-reviews-block .review-info p {
    font-size: 16px;
    line-height: 29px;
  }
  .wrapper-footer-content .footer-list {
    padding-bottom: 25px;
  }
  .wrapper-footer-content .footer-list h4 {
    font-size: 18px;
  }
  .wrapper-footer-content .footer-list ul li a {
    font-size: 14px;
  }
  .wrapper-footer-content .footer-list ul li {
    font-size: 14px;
  }
  .wrapper-footer-content {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrapper-footer-content .footer-list + .footer-list {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .wrapper-banner {
    position: relative;
  }
  .wrapper-banner .wrapper-banner-content {
    width: 100%;
  }
  .wrapper-banner .wrapper-banner-img {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: -30px;
  }
  .wrapper-global-part {
    flex-direction: column;
  }
  .wrapper-global-part .wrapper-global-part-content {
    text-align: center;
  }
  .wrapper-global-part .wrapper-global-part-content p {
    padding-bottom: 40px;
  }
  .wrapper-global-part .wrapper-global-part-content {
    width: 100%;
    padding-bottom: 60px;
  }
  .wrapper-global-part .wrapper-global-part-blocks {
    width: 100%;
  }
  .wrapper-services .wrapper-services-blocks .wrapper-block {
    width: 100%;
  }
  .wrapper-services .wrapper-services-blocks .wrapper-block .wrapper-services-img {
    width: 15%;
  }
  .wrapper-reviews .wrapper-reviews-blocks .wrapper-reviews-block {
    width: 100%;
  }
  .wrapper-footer-content .footer-list {
    width: 33%;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .wrapper-header {
    padding: 0 15px;
  }
  .wrapper-container {
    padding: 0 15px;
  }
  .header .wrapper-header .wrapper-menu .wrapper-nav ul li {
    padding-left: 15px;
  }
  .header .wrapper-header .wrapper-menu .wrapper-btn .wrapper-login {
    padding-left: 0;
  }
  .header .wrapper-header .wrapper-menu .wrapper-btn {
    justify-content: center;
    padding-top: 20px;
  }
  .wrapper-banner .wrapper-banner-content h1 {
    font-size: 30px;
    line-height: 50px;
    padding-bottom: 40px;
  }
  .wrapper-banner .wrapper-banner-content .wrapper-banner-list ol li + li {
    padding-top: 10px;
  }
  .wrapper-global-part {
    padding-top: 50px;
  }
  .wrapper-global-part .wrapper-global-part-content h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .wrapper-global-part .wrapper-global-part-content p {
    font-size: 16px;
    line-height: 45px;
  }
  .wrapper-global-part .wrapper-global-part-content button {
    font-size: 18px;
    width: 100%;
  }
  .wrapper-services .wrapper-services-button button {
    width: 100%;
    padding: 20px 0;
  }
  .wrapper-services {
    padding-bottom: 100px;
  }
  h2 {
    font-size: 28px;
  }
  .wrapper-footer-content .footer-list {
    width: 100%;
  }
}