/* Media */
@media (min-width: 1264px) and (max-width: 1400px) {
  .header {
    padding-bottom: 50px;
  }
  .header .wrapper-header .wrapper-menu .wrapper-btn .wrapper-register button {
    padding: 10px 30px;
  }
  .wrapper-banner {
    padding-top: 10px;
  }
  .wrapper-banner .wrapper-banner-content h1 {
    padding-bottom: 40px;
  }
  .wrapper-banner .wrapper-banner-content .wrapper-banner-list {
    padding-bottom: 40px;
  }
}