@import "global";
@import "reset";

/* Header */
.header {
  padding-bottom: 88px;

  .wrapper-header {
    padding-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapper-logo {
      .logo {
        a {
          font-family: $main-font;
          font-style: normal;
          font-weight: 700;
          font-size: 1.250vw;
          line-height: 28px;
          letter-spacing: 0.05em;
          color: #111111;
        }
      }
    }

    .wrapper-menu {
      width: 64.8%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wrapper-nav {
        width: 44.1%;

        ul {
          display: flex;
          justify-content: space-between;

          li {
            display: inline-block;

            a {
              color: $basic-color;
              font-size: 0.990vw;
              line-height: 22px;
              letter-spacing: 0.05em;
              transition: 0.5s;

              &:hover {
                color: $hover-color;
                transition: 0.5s;
              }

              &.active {
                color: $hover-color;
                padding-bottom: 5px;
                border-bottom: 2px solid $hover-color;
              }
            }
          }
        }
      }

      .wrapper-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wrapper-login {
          button {
            font-size: 0.990vw;
            line-height: 22px;
            letter-spacing: 0.05em;
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
        }

        .wrapper-register {
          button {
            font-size: 0.990vw;
            line-height: 22px;
            letter-spacing: 0.05em;
            background-color: $button-color;
            color: white;
            border: none;
            cursor: pointer;
            padding: 13px 40px;
            border-radius: 25.5px;
            margin-left: 7px;
          }
        }
      }
    }

    .menu-btn {
      display: none;
    }
  }
}

/* Banner */
.wrapper-banner {
  padding-top: 88px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .wrapper-banner-content {
    width: 39.4%;

    h1 {
      font-family: $title-font;
      font-size: 3.646vw;
      line-height: 81px;
      letter-spacing: 0.05em;
      color: $title-color;
      padding-bottom: 85px;
    }

    .wrapper-banner-list {
      padding-bottom: 86px;

      ol {
        padding-left: 25px;

        li {
          font-size: 1.146vw;
          line-height: 26px;
          letter-spacing: 0.05em;
        }

        li + li {
          padding-top: 35px;
        }
      }
    }

    a {
      font-size: 1.302vw;
      line-height: 29px;
      letter-spacing: 0.05em;
      color: $basic-color;
      border-bottom: 1px solid black;
    }
  }

  .wrapper-banner-img {
    width: 51.9%;

    img {
      width: 100%;
      max-width: 100%;
    }
  }
}

@import "media";

