/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* Colors */
/* Font */
@font-face {
  font-family: "Champagne & Limousines";
  src: local("Champagne & Limousines"), url("/font/champagne_limousines_bold.ttf") format("truetype");
}
/* General */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  height: 100%;
}

.main {
  position: relative;
}

.wrapper-header {
  width: 92.3%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

.wrapper-container {
  width: 74%;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

.footer {
  flex: 0 0 auto;
}

/* Reset */
body {
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul, ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  padding-bottom: 88px;
  background-color: #EBFDFF;
}
.header .wrapper-header {
  padding-top: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper-header .wrapper-logo .logo a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #111111;
}
.header .wrapper-header .wrapper-menu {
  width: 64.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper-header .wrapper-menu .wrapper-nav {
  width: 44.1%;
}
.header .wrapper-header .wrapper-menu .wrapper-nav ul {
  display: flex;
  justify-content: space-between;
}
.header .wrapper-header .wrapper-menu .wrapper-nav ul li {
  display: inline-block;
}
.header .wrapper-header .wrapper-menu .wrapper-nav ul li a {
  color: #000000;
  font-size: 0.99vw;
  line-height: 22px;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.header .wrapper-header .wrapper-menu .wrapper-nav ul li a:hover {
  color: #3AC5CE;
  transition: 0.5s;
}
.header .wrapper-header .wrapper-menu .wrapper-nav ul li a.active {
  color: #3AC5CE;
  padding-bottom: 5px;
  border-bottom: 2px solid #3AC5CE;
}
.header .wrapper-header .wrapper-menu .wrapper-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper-header .wrapper-menu .wrapper-btn .wrapper-login button {
  font-size: 0.99vw;
  line-height: 22px;
  letter-spacing: 0.05em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header .wrapper-header .wrapper-menu .wrapper-btn .wrapper-register button {
  font-size: 0.99vw;
  line-height: 22px;
  letter-spacing: 0.05em;
  background-color: #111111;
  color: white;
  border: none;
  cursor: pointer;
  padding: 13px 40px;
  border-radius: 25.5px;
  margin-left: 7px;
}
.header .wrapper-header .menu-btn {
  display: none;
}

/* Banner */
.wrapper-background-banner {
  width: 100%;
  background-color: #EBFDFF;
  padding-top: 88px;
  padding-bottom: 229px;
}

.wrapper-banner {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.wrapper-banner .wrapper-banner-content {
  width: 39.4%;
}
.wrapper-banner .wrapper-banner-content h1 {
  font-family: "Champagne & Limousines";
  font-size: 3.646vw;
  line-height: 81px;
  letter-spacing: 0.05em;
  color: #083C3E;
  padding-bottom: 85px;
}
.wrapper-banner .wrapper-banner-content .wrapper-banner-list {
  padding-bottom: 86px;
}
.wrapper-banner .wrapper-banner-content .wrapper-banner-list ol {
  padding-left: 25px;
}
.wrapper-banner .wrapper-banner-content .wrapper-banner-list ol li {
  font-size: 1.146vw;
  line-height: 26px;
  letter-spacing: 0.05em;
}
.wrapper-banner .wrapper-banner-content .wrapper-banner-list ol li + li {
  padding-top: 35px;
}
.wrapper-banner .wrapper-banner-content a {
  font-size: 1.302vw;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #000000;
  border-bottom: 1px solid black;
}
.wrapper-banner .wrapper-banner-img {
  width: 51.9%;
}
.wrapper-banner .wrapper-banner-img img {
  width: 100%;
  max-width: 100%;
}

/* Global part */
.wrapper-global-part {
  display: flex;
  justify-content: space-between;
  padding-top: 214px;
  padding-bottom: 190px;
}
.wrapper-global-part .wrapper-global-part-content {
  width: 49%;
}
.wrapper-global-part .wrapper-global-part-content h2 {
  font-family: "Champagne & Limousines";
  font-size: 3.125vw;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: #083C3E;
  padding-bottom: 63px;
  padding-top: 30px;
}
.wrapper-global-part .wrapper-global-part-content p {
  font-size: 1.354vw;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: #7C7C7C;
  padding-bottom: 63px;
}
.wrapper-global-part .wrapper-global-part-content button {
  background-color: transparent;
  font-size: 0.99vw;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #1093A1;
  cursor: pointer;
  padding: 13px 40px;
  border-radius: 25.5px;
  border: 1px solid #1093A1;
}
.wrapper-global-part .wrapper-global-part-blocks {
  width: 39.5%;
  flex-direction: column;
}
.wrapper-global-part .wrapper-global-part-blocks .wrapper-block {
  padding: 40px 60px;
  background: #F8F8F8;
  border: 1px solid #E1E1E1;
}
.wrapper-global-part .wrapper-global-part-blocks .wrapper-block h4 {
  font-family: "Champagne & Limousines";
  font-size: 1.146vw;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-bottom: 14px;
}
.wrapper-global-part .wrapper-global-part-blocks .wrapper-block p {
  font-size: 0.833vw;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #7C7C7C;
}
.wrapper-global-part .wrapper-global-part-blocks .wrapper-block + .wrapper-block {
  margin-top: 19px;
}

/* Services */
.wrapper-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 266px;
}
.wrapper-services .wrapper-services-title {
  width: 100%;
  text-align: center;
}
.wrapper-services .wrapper-services-title h2 {
  font-family: "Champagne & Limousines";
  font-size: 3.125vw;
  line-height: 81px;
  letter-spacing: 0.05em;
  color: #083C3E;
  padding-bottom: 90px;
}
.wrapper-services .wrapper-services-blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}
.wrapper-services .wrapper-services-blocks .wrapper-block {
  width: 24%;
  padding: 70px 40px;
  background: #F8F8F8;
}
.wrapper-services .wrapper-services-blocks .wrapper-block .wrapper-services-img {
  width: 44%;
  margin-bottom: 43px;
}
.wrapper-services .wrapper-services-blocks .wrapper-block .wrapper-services-img img {
  width: 100%;
  max-width: 100%;
}
.wrapper-services .wrapper-services-blocks .wrapper-block h4 {
  font-family: "Champagne & Limousines";
  font-size: 1.25vw;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #083C3E;
  padding-bottom: 20px;
}
.wrapper-services .wrapper-services-blocks .wrapper-block p {
  font-size: 0.833vw;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: #7C7C7C;
  padding-bottom: 30px;
}
.wrapper-services .wrapper-services-blocks .wrapper-block a {
  background-color: transparent;
  border: unset;
  border-bottom: 1px solid black;
  padding: 0 0 5px 0;
  cursor: pointer;
  color: #000000;
  font-size: 0.833vw;
}
.wrapper-services .wrapper-services-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper-services .wrapper-services-button button {
  padding: 20px 81px;
  background: #111111;
  border-radius: 35px;
  font-size: 0.99vw;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  border: none;
}

/* Media */
@media (min-width: 1264px) and (max-width: 1400px) {
  .header {
    padding-bottom: 50px;
  }

  .header .wrapper-header .wrapper-menu .wrapper-btn .wrapper-register button {
    padding: 10px 20px;
  }

  .wrapper-background-banner {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  .wrapper-banner .wrapper-banner-content h1 {
    padding-bottom: 40px;
  }

  .wrapper-banner .wrapper-banner-content .wrapper-banner-list {
    padding-bottom: 40px;
  }

  .wrapper-global-part {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .wrapper-global-part .wrapper-global-part-content h2 {
    padding-bottom: 30px;
  }

  .wrapper-global-part .wrapper-global-part-content p {
    padding-bottom: 40px;
    line-height: 40px;
  }

  .wrapper-global-part .wrapper-global-part-blocks .wrapper-block p {
    line-height: 24px;
  }

  .wrapper-global-part .wrapper-global-part-blocks .wrapper-block {
    padding: 25px 45px;
  }

  .wrapper-services .wrapper-services-title h2 {
    padding-bottom: 40px;
  }

  .wrapper-services .wrapper-services-blocks .wrapper-block {
    padding: 45px 30px;
  }

  .wrapper-services .wrapper-services-blocks .wrapper-block p {
    line-height: 28px;
  }

  .wrapper-services .wrapper-services-blocks {
    padding-bottom: 50px;
  }

  .wrapper-services .wrapper-services-button button {
    padding: 15px 50px;
  }
}

/*# sourceMappingURL=style.css.map */
